
@media screen and (min-width: 481px){

body{
    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
    display: grid;
    
    justify-content: center;
    place-items: center;
    border-radius: 20px;
    overflow-y:hidden;
}

h1{
    font-size: 20px;
    font-family: Montserrat;
    font-family: Fraunces;
}

/*
img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
*/


.container_text {
    display: inline;
    margin-left: 20px;
  }


.main-section{
    display: grid;
    align-items: center;
    grid-template-columns: 300px 1fr;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    width: 300px;
    height: 500px;
    
    text-align: center;
    padding: 2rem;
    border-radius: 20px;
    margin: 0 auto;
    
}

img {
    width: 300px;
    height: 400px;
    float: left;
    border-radius: 2%;
  }

p{
    font-family: Montserrat;
    font-family: Fraunces;
    line-height: 125%;
    font-size: 16px;
    color: gray;
}

button{
    background-color: hsl(158, 36%, 37%); 
    width: 200px; 
    height: 50px; 
    border-radius: 5px
}

.button:hover {
    background-color: hsl(158, 34%, 23%);
    transition: 0.7s;
    cursor: pointer;
}
}

.small{
    font-size: 12px; 
    color: hsl(228, 12%, 48%);
    text-align: left;
}

@media screen and (max-width: 480px) {
    img {  
        width: 400px;
        height: 400px;
        border-radius: 2%;
    }
    body{
        width: auto;
        background-color: hsl(30, 38%, 92%);
        margin: 20px;
        overscroll-behavior: none;
    }
    .container_text{
        background-color: white;
        width: 400px;
    }
    button{
        background-color: hsl(158, 36%, 37%); 
        width: 100px; 
        height: 50px; 
        border-radius: 5px
    }
    .small{
        font-size: 18px; 
        color: hsl(228, 12%, 48%);
    }
}
